<footer>
    
    <div class="f-info">
        <br><h6 style="color: rgb(79, 79, 200);">Connect With Owner</h6>
        <div class="f-info-socials" >
            
            <a href="https://www.instagram.com/avanishpandey1.0/" target="_blank" style="color: rgb(206, 54, 123);" onmouseover="this.style.color='blue';" onmouseout="this.style.color=' rgb(206, 54, 123)';"> <i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://www.linkedin.com/in/avanish-pandey-976b76253/" target="_blank" style="color: rgb(54, 54, 166);" onmouseover="this.style.color='blue';" onmouseout="this.style.color='rgb(54, 54, 166)';"><i class="fa-brands fa-linkedin"></i></a>

        </div><br>
        <div class="f-info-brand">&copy; RoomMate Hostler by @avanishpandey1.0</div>
        
    </div>
</footer>