<% layout("/layouts/boilerplate") %>
<div class="row mt-3">
  <div class="col-8 offset-2">

<body>
  <br><br>
    <h3>Create a new listings</h3>
   
    <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" name="listing[title]" placeholder="enter title" class="form-control" required>
        <div class="valid-feedback">Title looks good!</div>
      </div>
      
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
        name="listing[description]"
        placeholder="enter description"
        class="form-control"
        required></textarea>
        <div class="invalid-feedback">Please enter a short description</div>
      </div>
          
    
       
      <!-- <div class="mb-3">
        <label for="image" class="form-label">Image Link</label>
        <input type="text" name="listing[image]" placeholder="enter URL/link" class="form-control">
      </div> -->
      <div class="mb-3">
        <label for="image" class="form-label">Upload Listing Image</label>
        <input type="file" name="listing[image]" class="form-control"> required
      </div>
      
      <div class="row">

        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Rent</label>
          <input name="listing[price]" placeholder="enter rent" class="form-control" required>
          <div class="invalid-feedback">Rent should be valid</div>
        </div>
        
        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">City</label>
          <input type="text" name="listing[country]" placeholder="enter City" class="form-control" required>
          <div class="invalid-feedback">City should be valid</div>

        </div>

      </div>
    
      
      <div class="mb-3" >
        <label for="location" class="form-label">Location & Contact Number</label>
        <input type="text" name="listing[location]" placeholder="enter location" class="form-control" required>
        <div class="invalid-feedback">Location should be valid</div>

      </div>
        
       
        <button class="btn btn-dark add-btn mt-3">Add</button>
    
        
    </form>
</body>


</div>
</div>